<component name="libraryTable">
  <library name="springview-release:@aar">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/transforms-1/files-1.1/springview-release.aar/1e928370ef2955eb0f9a417bdfceccd4/jars/classes.jar!/" />
      <root url="file://$USER_HOME$/.gradle/caches/transforms-1/files-1.1/springview-release.aar/1e928370ef2955eb0f9a417bdfceccd4/res" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>